<div class="borrower">
  <p class="tenant"><%= link_to "#{tenant.name}", tenant_path(tenant.slug) %></p>
  <p><%= tenant.blurb %></p>
  <p><%= link_to "Learn more about this borrower", tenant_path(tenant.slug) %></p>
</div>
