<h2>Borrowers</h2>

<% cache @tenants do %>
  <div class="pagination">
    <%= will_paginate @tenants %>
    <%= render partial: 'tenants/tenant', collection: @tenants %>
  </div>
  <div style="clear:both;"></div>
<% end %>
