<h2>Borrowers</h2>

<div class="pagination">
  <%= will_paginate @tenants %>
  <% @tenants.each do |t| %>
    <div class="borrower">
      <p class="tenant"><%= link_to "#{t.name}", tenant_path(t.slug) %></p>
      <p><%= t.blurb %></p>
      <p><%= link_to "Learn more about this borrower", tenant_path(t.slug) %></p>
    </div>

  <% end %>
</div>

<div style="clear:both;"></div>
